*/__pycache__/*
*/_pycache_/*
*__pycache__
*/__pycache__
__pycache__
/.idea
/.ipynb_checkpoints
/res
/results
starting_script.txt
.Rhistory
*/res/
*/results/
*/downloaded_results/
/downloaded_results/
*/poster_results/
*.pkl
*.npy
*__pycache__
*/__pycache__
__pycache__